<phpunit
    bootstrap="tests/autoload.php"
    colors="true"
    verbose="true">
    <testsuites>
        <testsuite name="ACH Test Suite">
            <directory>tests/ACH</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
    </logging>
</phpunit>
